<div class="row">
    <div class="col-xs-6">
        @{Html.RenderPartial("_Inputs_Mainstudentinfo");}
    </div> <!-- <div class="col-xs-6"> -->
    <div class="col-xs-6">
        @{Html.RenderPartial("~/Views/Transaction_in/2REGULER/_InputsREGULER_Trn.cshtml");}
    </div> <!-- <div class="col-xs-6"> -->
</div><!-- /.row -->

@{Html.RenderPartial("~/Views/Transaction_in/_Inputs_Trnhist.cshtml");}
