@using APPBASE.Helpers

@{
    ViewBag.Title = "Ganti Password";
    Layout = "~/Views/Shared/_LayoutLanding.cshtml";
}

<div class="row" style="margin:15px; margin: 7% auto;">
    <div class="col-sm-12 col-md-3 col-md-offset-5">
        @{Html.RenderPartial("Changepassword_");}
    </div> <!-- /.col-sm-12 col-md-6 -->
</div> <!-- /.row -->
