<script type="text/javascript">
    $(document).ready(function () {
        /*=========================================
        INITIALIZE
        =========================================*/
        //Make the dashboard widgets sortable Using jquery UI
        $(".connectedSortable").sortable({
            placeholder: "sort-highlight",
            connectWith: ".connectedSortable",
            handle: ".box-header, .nav-tabs",
            forcePlaceholderSize: true,
            zIndex: 999999
        }).disableSelection();
        $(".connectedSortable .box-header, .connectedSortable .nav-tabs-custom").css("cursor", "move");

        /*=========================================
        EVENTS
        =========================================*/
        //jQuery UI sortable for the longleave
        $(".todo-list").sortable({
            placeholder: "sort-highlight",
            handle: ".handle",
            forcePlaceholderSize: true,
            zIndex: 999999
        }).disableSelection();

        //The Calender
        //$("#calendar").datepicker();
        $('#calendar').datepicker({"setDate": new Date(), todayHighlight: true});

        /*
        * DONUT CHART
        * -----------
        */
        var dataName_1 = $("#dataName_1").val()
        var dataValue_1 = $("#dataValue_1").val()

        var dataName_2 = $("#dataName_2").val()
        var dataValue_2 = $("#dataValue_2").val()

        var donutData = [
                    { label: dataName_1, data: dataValue_1, color: "#F56954" },
                    { label: dataName_2, data: dataValue_2, color: "#00A65A" }
                ];
        $.plot("#donut-chart", donutData, {
            series: {
                pie: {
                    show: true,
                    radius: 1,
                    innerRadius: 0.5,
                    label: {
                        show: true,
                        radius: 2 / 3,
                        formatter: labelFormatter,
                        threshold: 0.1
                    }

                }
            },
            legend: {
                show: true
            }
        });
        /*
        * END DONUT CHART
        */
        /*
        * Custom Label formatter
        * ----------------------
        */
        function labelFormatter(label, series) {
            return "<div style='font-size:10px; text-align:center; padding:2px; color: #fff; font-weight: 500;'>"
                        + label
                        + "<br/>"
                        + Math.round(series.percent) + "%</div>";
        }

        //BAR CHART
        $("#CPAR_YEAR").change(function () {
            $("#CPAR_BARCHART").submit();
        });

        var bar = new Morris.Bar({
            element: 'bar-chart',
            resize: true,
            data: [
                        { y: 'IA', a: $("#nIA").val() },
                        { y: 'TM', a: $("#nTM").val() },
                        { y: 'PP', a: $("#nPP").val() },
                        { y: 'PI', a: $("#nPI").val() },
                        { y: 'CC', a: $("#nCC").val() },
                        { y: 'LL', a: $("#nLL").val() }
                    ],
            barColors: ['#00a65a'],
            xkey: 'y',
            ykeys: ['a'],
            labels: ['Jumlah'],
            hideHover: 'auto'
        });

    });  //End $(document).ready
</script>
