@{
    ViewBag.Title = "Contact";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
    <h2>@ViewBag.Message</h2>
</hgroup>

<section class="contact">
    <header>
        <h3>Phone</h3>
    </header>
    <p>
        <span class="label">Office:</span>
    </p>
    <p>
        <span class="label">After Hours:</span>
    </p>
</section>

<section class="contact">
    <header>
        <h3>Email</h3>
    </header>
    <p>
        <span class="label">Office:</span>
        <span><a href="#"></a></span>
    </p>
    <p>
        <span class="label">Personal:</span>
        <span><a href="#"></a></span>
    </p>
    <p>
        <span class="label">General:</span>
        <span><a href="#"></a></span>
    </p>
</section>

<section class="contact">
    <header>
        <h3>Address</h3>
    </header>
</section>