@using APPBASE.Helpers
@using APPBASE.Svcbiz

@{
    ViewBag.Title = "Departemen";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section includeTOP {
}

@section includeBOTTOM {
}


@section TitleIcon {
    <i class="fa fa-home"></i>
}

<div class="row">
    <div class="col-xs-12">
    </div>
</div>

@section scripts {

<!-- Events -->
@{Html.RenderPartial("_Events");}

}

