@model APPBASE.Models.ReportinVM

@using APPBASE.Helpers
@using APPBASE.Svcutil
@using APPBASE.Svcbiz

@{
    ViewBag.Title = "Laporan Tunggakan";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Print = "invoice";
}
@section includeBOTTOM {
    @Scripts.Render("~/bundles/JSInputMask")
}

@{string vsClassBP_STS = "";}

@if (Model.TUNGGAKAN.Count > 0) {
    <!-- title row -->
    <div class="row no-print">
        <div class="col-xs-12">
            <button class="btn btn-flat btn-default" onclick="window.print();"><i class="fa fa-print"></i> Cetak</button>
        </div><!-- /.col -->
    </div>
}

<!-- content row -->
<div class="row">
    <div class="col-xs-12">
        @if (Model.TUNGGAKAN != null)
        {
            if (Model.TUNGGAKAN.Count > 0)
            {
                Html.RenderPartial("Report_data");
            }
            else
            {
                <h3>@{Html.RenderPartial("_PartialEmpty");}</h3>
            }
        }
        else
        {
            <h3>@{Html.RenderPartial("_PartialEmpty");}</h3>
        }
    </div><!-- /.col -->
</div>

@section scripts {

<script type="text/javascript">
    $(document).ready(function () {
        /*=========================================
        INITIALIZE
        =========================================*/

        /*=========================================
        EVENTS
        =========================================*/
    });   //End $(document).ready
</script>

}
