<div class="row">
    <div class="col-xs-6">
        @{Html.RenderPartial("_Inputs_Mainstudentinfo");}
        @{Html.RenderPartial("_Inputs_Mainpaidby");}
    </div> <!-- <div class="col-xs-6"> -->

    <div class="col-xs-6">
        @{Html.RenderPartial("_Inputs_Mainaction");}
    </div> <!-- <div class="col-xs-6"> -->
</div><!-- /.row -->

