@using APPBASE.Helpers

@if (ViewBag.TRINHIST != null)
{

    if (((IEnumerable<dynamic>)ViewBag.TRINHIST).Count() > 0)
    {
        <hr />
        <div class="row">
            <div class="col-xs-12 table-responsive">
                <h1 class="badge bg-red">HISTORY PEMBAYARAN</h1>
                @{Html.RenderPartial("~/Views/Transaction_in/_Inputs_Trnhistdata.cshtml");}
            </div> <!-- ./col -->
        </div> <!-- ./row -->
        
    }
}


