@model APPBASE.Models.Transaction_indetailVM
@using APPBASE.Helpers
@using APPBASE.Models

@{Html.RenderPartial("_Inputs_Main");}

<hr />

<div>
    @{Html.RenderPartial("_Inputs_Trn");}
    @{Html.RenderPartial("_Inputs_Trnsubtotal");}
</div>



