@model APPBASE.Models.Transaction_indetailVM
@using APPBASE.Helpers
@using APPBASE.Models

@{string vsErrClass = "";}
@{string vsDisableButton = "";}
@{Boolean isShowDropdown = true;}
@{string vsReadonlyTextboxKey = "Readonly";}
@{string vsReadonlyTextbox = "";}
@if (ViewBag.CRUD_type == hlpFlags_CRUDOption.CREATE) { vsReadonlyTextboxKey = ""; }
@if ((ViewBag.CRUD_type == hlpFlags_CRUDOption.VIEW) || (ViewBag.CRUD_type == hlpFlags_CRUDOption.DELETE)) { vsDisableButton = "disabled"; vsReadonlyTextbox = "Readonly"; isShowDropdown = false; }
@{string vsDateFormat = "'alias': 'dd/mm/yyyy'";}

    <table>
        <tr>
            <th style="width:30%;">NIS</th>
            <td>: @Model.STUDENT_NIS @if (Model.IS_PINDAHAN == 1) {<span>&nbsp;&nbsp;</span> <small class="badge pull-right bg-green">Siswa Pindahan</small> }</td>
        </tr>
        <tr>
            <th>Nama</th>
            <td>: @Model.STUDENT_NAME</td>
        </tr>
        <tr>
            <th>Kelas</th>
            <td>: @Model.CLASSROOM_SHORTDESC</td>
        </tr>
        <tr>
            <th></th>
            <td></td>
        </tr>
    </table>
