@model APPBASE.Models.Transaction_indetailVM
@using APPBASE.Helpers
@using APPBASE.Models

@{string vsErrClass = "";}
@{string vsDisableButton = "";}
@{Boolean isShowDropdown = true;}
@{string vsReadonlyTextboxKey = "Readonly";}
@{string vsReadonlyTextbox = "";}
@if (ViewBag.CRUD_type == hlpFlags_CRUDOption.CREATE) { vsReadonlyTextboxKey = ""; }
@if ((ViewBag.CRUD_type == hlpFlags_CRUDOption.VIEW) || (ViewBag.CRUD_type == hlpFlags_CRUDOption.DELETE)) { vsDisableButton = "disabled"; vsReadonlyTextbox = "Readonly"; isShowDropdown = false; }
@{string vsDateFormat = "'alias': 'dd/mm/yyyy'";}

<div class="row">
    <!-- accepted payments column -->
    <div class="col-xs-6">
        <div>Terbilang</div>
        <p class="text-muted well well-sm no-shadow" style="margin-top: 10px;">
            @hlpConvertionAndFormating.ConvertDecimalToTerbilang(Model.TRN_AMOUNT)
        </p>
    </div><!-- /.col -->
    <div class="col-xs-6">
        <p class="lead">Total pembayaran: Rp. @hlpConvertionAndFormating.ConvertDecimalToStringFmtThousand(Model.TRN_AMOUNT)</p>
    </div><!-- /.col -->
</div><!-- /.row -->
