@model APPBASE.Models.Transaction_indetailVM
@using APPBASE.Helpers
@using APPBASE.Models

<div class="callout callout-danger">
    <h4>@ViewBag.Title sudah lunas!</h4>
    <p>Siswa bersangkutan sudah melunasi pembayaran. Harap lihat history pembayaran dibawah</p>
</div>

<hr />
