@model APPBASE.Models.Transaction_indetailVM
@using APPBASE.Helpers
@using APPBASE.Models

@{string vsErrClass = "";}
@{string vsDisableButton = "";}
@{Boolean isShowDropdown = true;}
@{string vsReadonlyTextboxKey = "Readonly";}
@{string vsReadonlyTextbox = "";}
@if (ViewBag.CRUD_type == hlpFlags_CRUDOption.CREATE) { vsReadonlyTextboxKey = ""; }
@if ((ViewBag.CRUD_type == hlpFlags_CRUDOption.VIEW) || (ViewBag.CRUD_type == hlpFlags_CRUDOption.DELETE)) { vsDisableButton = "disabled"; vsReadonlyTextbox = "Readonly"; isShowDropdown = false; }
@{string vsDateFormat = "'alias': 'dd/mm/yyyy'";}

@{
    string sSusulan="";

    if (Session[hlpConfig.SessionInfo.sSESSIONID_ISBACKDATE] != null){
        if (Session[hlpConfig.SessionInfo.sSESSIONID_ISBACKDATE].ToString() == "YES") {sSusulan = " Susulan";}
    }

    ViewBag.Title = "Transaksi Pembayaran" + sSusulan;
    
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section includeBOTTOM {
    @Scripts.Render("~/bundles/JSInputMask")
}

@using (Html.BeginForm("Create", "Transaction_in", FormMethod.Post, new { id="Transaction_in" }))
{
<input type="hidden" id="ActionID" name="ActionID" value="@Model.ActionID" />
<section class="content invoice">
    <!-- title row -->
    <div class="row">
        <div class="col-xs-12">
            <h2 class="page-header">
                <button type="button" class="btnSave btn btn-primary btn-flat">Simpan Transaksi</button>
                <button type="button" class="btnCancel btn btn-warning btn-flat">Batalkan Transaksi</button>
                <small class="pull-right">Tanggal System: @Model.getSYSDATE()</small>
            </h2>
        </div><!-- /.col -->
    </div>

    <div class="row">
        <div class="col-xs-12">@{Html.RenderPartial("_Inputs");}</div> <!-- <div class="col-xs-12"> -->
    </div> <!-- <div class="row"> -->

    <!-- this row will not appear when printing -->
    <div class="row no-print">
        <div class="col-xs-12">
            <button type="button" class="btnSave btn btn-primary btn-flat">Simpan Transaksi</button>
            <button type="button" class="btnCancel btn btn-warning btn-flat">Batalkan Transaksi</button>
            @Html.ActionLink("Back to List", "Index")
        </div>
    </div>
</section> <!-- <section class="content invoice"> -->
    
}

<!-- Modal -->
@{Html.RenderPartial("_PartialDialogLookup");}


@section scripts {

<!-- Modal -->
@{Html.RenderPartial("_Events");}

}
