@{
    ViewBag.Title = "Rekap Penerimaan Harian";
    Layout = "~/Views/Shared/_LayoutPrintable.cshtml";
}

@section includeTOP {
    <!-- csslayout -->
    <link href="@Url.Content("~/")Content/print_kwitansi.css" rel="stylesheet" type="text/css" />
}

@{Html.RenderPartial("Report_dataprint");}

<br /><br /><br /><br />
<div class="no-print"><a href="@Url.Action("Index", "Transaction_in")" >Selesai</a></div>

@section scripts {

<script type="text/javascript">
    window.print();
</script>

}
