@model APPBASE.Models.Transaction_indetailVM
@using APPBASE.Helpers
@using APPBASE.Models

<div class="callout callout-danger">
    <h4>Pembayaran SPP sudah lunas!</h4>
    <p>Siswa bersangkutan sudah melakukan pembayaran sampai dengan bulan Juni.</p>
</div>

<hr />
