@using APPBASE.Helpers
@using APPBASE.Svcutil
@using APPBASE.Svcbiz

@{
    ViewBag.Title = "Rekap Penerimaan Harian";
    Layout = "~/Views/Shared/_LayoutPrintable.cshtml";
}

@section includeTOP {
    <!-- csslayout -->
    <link href="@Url.Content("~/")Content/print_rekap.css" rel="stylesheet" type="text/css" />
}


<div class="no-print"><a href="@Url.Action("Index", "Recapin_daily")" >Selesai</a></div>

@if (Model.RECAP2 != null)
{
    if (Model.RECAP2.Count > 0)
    {
        Html.RenderPartial("Reportprint_groupbytrintype_data");
    }
    else
    {
        <h3>@{Html.RenderPartial("_PartialEmpty");}</h3>
    }
}
else
{
    <h3>@{Html.RenderPartial("_PartialEmpty");}</h3>
}

<br /><br /><br /><br />
<div class="no-print"><a href="@Url.Action("Index", "Recapin_daily")" >Selesai</a></div>

@section scripts {

<script type="text/javascript">
    window.print();
</script>

}
