<div class="row">
    <div class="col-sm-12 col-md-4">
        @{Html.RenderPartial("_InputsPROFILE_Photo");}
    </div><!-- /.col (LEFT) -->

    <div class="col-sm-12 col-md-8">
        @{Html.RenderPartial("_InputsPROFILE_Name");}
    </div><!-- /.col (LEFT) -->
</div><!-- /.row -->

<hr />
@{Html.RenderPartial("_InputsPROFILE_Others");}

