@{Html.RenderPartial("_InputsCFG");}
<hr />

<div class="box box-solid">
    <div class="box-header"><h3 class="box-title">Profil Siswa</h3></div> <!-- /.box-header -->
    <div class="box-body">@{Html.RenderPartial("_InputsPROFILE");}</div> <!-- /.box-body -->
</div> <!-- /.box box-solid bg-light-blue -->

<div class="box box-solid">
    <div class="box-header"><h3 class="box-title">Data Tambahan</h3></div> <!-- /.box-header -->
    <div class="box-body">@{Html.RenderPartial("_InputsAKADEMIK");}</div> <!-- /.box-body -->
</div> <!-- /.box box-solid bg-light-blue -->


<div class="box box-solid">
    <div class="box-header"><h3 class="box-title">Data Orang Tua/Wali Siswa</h3></div> <!-- /.box-header -->
    <div class="box-body">@{Html.RenderPartial("_InputsPARENTS");}</div> <!-- /.box-body -->
</div> <!-- /.box box-solid bg-light-blue -->


