<div class="row">
    <div class="col-sm-12 col-md-6">
        <div class="box box-solid bg-light-blue">
            <div class="box-header">
                <h3 class="box-title">Ayah</h3>
            </div><!-- /.box-header -->
            <div class="box-body">@{Html.RenderPartial("_InputsPARENTS_FTHR");}</div><!-- /.box-body -->
        </div><!-- /.box -->
    </div> <!-- .col-sm-12 col-md-6 -->
    <div class="col-sm-12 col-md-6">
        <div class="box box-solid bg-green">
            <div class="box-header">
                <h3 class="box-title">Ibu</h3>
            </div><!-- /.box-header -->
            <div class="box-body">@{Html.RenderPartial("_InputsPARENTS_MTHR");}</div><!-- /.box-body -->
        </div><!-- /.box -->
    </div> <!-- .col-sm-12 col-md-6 -->
</div> <!-- ./row -->



