@{
    ViewBag.Title = "Pendataan Siswa";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section includeBOTTOM {
    @Scripts.Render("~/bundles/JSInputMask")
}

<div class="col-sm-12 col-md-4">
    @using (Html.BeginForm("Index", "Student", FormMethod.Post, new { id = "frmFilter" }))
    {
        Html.RenderPartial("Filter");
    }
</div> <!-- /.col-sm-12 col-md-4 -->

<div class="col-sm-12 col-md-8">
    @using (Html.BeginForm("Delete", "Student", FormMethod.Post, new { id = "frmInput" }))
    {
        Html.RenderPartial("Delete_");
    }
</div> <!-- /.col-sm-12 col-md-8 -->

@section scripts {

<!-- Modal -->
@{Html.RenderPartial("_Events");}

}
