<div class="box box-info">
    <div class="box-header">
        <h3 class="box-title">View Data</h3>
        <span class="pull-right">@{Html.RenderPartial("_PartialButtonCRUD_DETAIL2");}</span>
    </div><!-- /.box-header -->
    <div class="box-body">
        <hr />
        @{Html.RenderPartial("_Inputs");}
    </div><!-- /.box-body -->
    <div class="box-footer">
        <div class="row">
            <div class="col-xs-12">
                <span class="pull-right">@{Html.RenderPartial("_PartialButtonCRUD_DETAIL2");}</span>
            </div>
        </div><!-- /.row -->
    </div><!-- /.box-footer -->
</div><!-- /.box -->
