@using APPBASE.Helpers
@using APPBASE.Svcbiz

@{
    ViewBag.Title = "Pendataan Siswa";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section includeBOTTOM {
    @Scripts.Render("~/bundles/JSInputMask")
}

@if (ViewBag.CRUDSavedOrDelete == valFLAG.FLAG_TRUE) {
      Html.RenderPartial("_PartialConfirmSaved"); 
}

<div class="col-sm-12 col-md-4">
    @using (Html.BeginForm("Index", "Student", FormMethod.Post, new { id = "frmFilter" }))
    {
        Html.RenderPartial("Filter");
    }
</div> <!-- /.col-sm-12 col-md-4 -->

<div class="col-sm-12 col-md-8">
    @{Html.RenderPartial("Details_");}
</div> <!-- /.col-sm-12 col-md-8 -->

<!-- Modal -->
@{Html.RenderPartial("_PartialDialogLookup");}

@section scripts {

<!-- Modal -->
@{Html.RenderPartial("_Events");}

}
