
<div class="box box-default">
    <div class="box-header">
        <h3 class="box-title">Filter Data</h3>
        <span class="pull-right"><a href="@Url.Action("Create")" class="btn btn-flat btn-sm btn-warning" style="margin-left:5px; color:White;"><i class="fa fa-plus"></i> Tambah Data</a></span>
    </div><!-- /.box-header -->
    <div class="box-body">
        @{Html.RenderPartial("Filter_inputs");}
    </div><!-- /.box-body -->
    <div class="box-footer">
        <div class="row">
            <div class="col-xs-12">
                <button type="submit" class="btn btn-success btn-flat"> <i class="fa fa-bars"></i> View List</button>
                <button type="button" id="reset" name="reset" class="btn btn-default btn-flat"><i class="fa  fa-eraser"></i> Clear Filter</button>
            </div>
        </div><!-- /.row -->
    </div><!-- /.box-footer -->
</div><!-- /.box -->

