
@{
    ViewBag.Title = "403 Akses ditolak";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section includeBOTTOM {
    @Scripts.Render("~/bundles/JSInputMask")
}


<div class="error-page">
    <h2 class="headline text-info"> 403</h2>
    <div class="error-content">
        <h3><i class="fa fa-warning text-yellow"></i> Maaf... anda tidak mendapat hak akses.</h3>
        <p>
            Sementara anda bisa kembali ke <a href="@Url.Action("Index", "Home")">halaman utama</a> atau silahkan menghubungi admin.
        </p>
    </div><!-- /.error-content -->
</div><!-- /.error-page -->

@section scripts {
}

