@{
    ViewBag.Title = "Rincian Penerimaan Harian";
    Layout = "~/Views/Shared/_LayoutPrintable.cshtml";
}

@section includeTOP {
    <!-- csslayout -->
    <link href="@Url.Content("~/")Content/print_rincian.css" rel="stylesheet" type="text/css" />
}

<div class="no-print"><a href="@Url.Action("Index", "Detailin_daily")" >Selesai</a></div>
@{Html.RenderPartial("Report_dataprint");}
<div class="no-print"><a href="@Url.Action("Index", "Detailin_daily")" >Selesai</a></div>

@section scripts {

<script type="text/javascript">
    window.print();
</script>

}
