<div style="text-align:center;">
    <div><img class="img-responsive pad" style="display: block; margin: 0 auto;" src="@Url.Content("~/")Images/logo.png" alt="@ViewBag.Appname" /></div>
    <div>KWITANSI PEMBAYARAN</div>
    <div>YAYASAN PENDIDIKAN</div>
    <div>Alamat Utama</div>
    <div>Telepon</div>
</div>
