@using APPBASE.Helpers

    <li class="treeview">
        <a href="#">
            <i class="fa fa-bars"></i> <span>LAPORAN</span>
            <i class="fa fa-angle-left pull-right"></i>
        </a>
        <ul class="treeview-menu">
            <li><a href="@Url.Action("Index", "Recapin_daily")"><i class="fa fa-angle-double-right"></i> Rekap Penerimaan</a></li>
            <li><a href="@Url.Action("Index", "Detailin_daily")"><i class="fa fa-angle-double-right"></i> Rincian Penerimaan</a></li>
            <li><a href="@Url.Action("Index", "Tunggakan")"><i class="fa fa-angle-double-right"></i> Tunggakan</a></li>
        </ul>
    </li>


