<!-- Confirm Delete -->
<div class="alert alert-success alert-dismissable">
    <i class="fa fa-check"></i>
    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
    <b>Informasi!</b> Data berhasil disimpan
</div>
