<!-- Modal -->
<div class="modal fade" id="DialogLookup_additems" tabindex="-1" role="dialog" aria-labelledby="DialogLookupTitle_additems" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header bg-aqua">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="DialogLookupTitle_additems"></h4>
      </div>
      <div class="modal-body">
        <div id="DialogLookupContent_additems"></div>
        <div id="DialogLookupWait_additems">Please Wait..</div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-flat btn-success" data-dismiss="modal" id="cmdADDItem" name="cmdADDItem" >Add item(s)</button>
        <button type="button" class="btn btn-flat btn-warning" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>                        

