<div class="row">
    <div class="col-sm-12 col-md-4">
        @{Html.RenderPartial("_Inputs_Photo");}
    </div><!-- /.col (LEFT) -->

    <div class="col-sm-12 col-md-8">
        @{Html.RenderPartial("_Inputs_Name");}
    </div><!-- /.col (LEFT) -->
</div><!-- /.row -->

<hr />

@{Html.RenderPartial("_Inputs_Others");}
