@{
    ViewBag.Title = "Lock User Cabang";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm()) {

    <div class="box box-danger">
        <div class="box-header">
            <h3 class="box-title"></h3>
        </div><!-- /.box-header -->
        <div class="box-body">
            @{Html.RenderPartial("_Inputs");}
        </div><!-- /.box-body -->
        <div class="box-footer">
            <div class="row">
                <div class="col-xs-12">
                    <button type="submit" class="btn btn-flat btn-danger">Non Aktifkan User</button>
                    @Html.ActionLink("Back to List", "Index")
                </div>
            </div><!-- /.row -->
        </div><!-- /.box-footer -->
    </div><!-- /.box -->
}
