@model APPBASE.Models.BranchdetailVM
@using APPBASE.Helpers
@using APPBASE.Svcbiz

@{
    ViewBag.Title = "Informasi Kantor Pusat";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section includeBOTTOM {
    @Scripts.Render("~/bundles/JSInputMask")
}


@if (ViewBag.CRUDSavedOrDelete == valFLAG.FLAG_TRUE) {
      Html.RenderPartial("_PartialConfirmSaved"); 
}

<div class="box box-info">
    <div class="box-header">
        <h3 class="box-title"></h3>
    </div><!-- /.box-header -->
    <div class="box-body">
        @{Html.RenderPartial("_Inputs");}
    </div><!-- /.box-body -->
    <div class="box-footer">
        <div class="row">
            <div class="col-xs-12">
                @if (Model != null)
                {
                    <a href="@Url.Action("Edit", new { id = Model.ID })" class="btn btn-flat btn-sm btn-warning" style="color:White;"><i class="fa fa-edit "></i> Edit</a>
                    <a href="@Url.Action("Delete", new { id = Model.ID })" class="btn btn-flat btn-sm btn-danger" style="color:White;"><i class="fa fa-trash-o"></i> Delete</a>
                }
                else
                {
                    <a href="@Url.Action("Create")" class="btn btn-flat btn-sm btn-warning" style="color:White;"><i class="fa fa-edit "></i> Add New</a>
                }
            </div>
        </div><!-- /.row -->
    </div><!-- /.box-footer -->
</div><!-- /.box -->

@section scripts {

<!-- Modal -->
@{Html.RenderPartial("_Events");}

}
