@{
    ViewBag.Title = "Hubungi Kami";
    Layout = "~/Views/Shared/_LayoutLanding.cshtml";
}


    <div class="row">
        <div class="col-sm-12 col-md-6">
            <div class="form-group">@{Html.RenderPartial("_PartialCarousel");}</div>
        
        </div> <!-- /.col-sm-12 col-md-6 -->

        <div class="col-sm-12 col-md-6">
                
        </div> <!-- /.col-sm-12 col-md-6 -->
    </div> <!-- /.row -->

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
