@using APPBASE.Helpers
@using APPBASE.Svcbiz

@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section includeTOP {
}

@section includeBOTTOM {
}


@section TitleIcon {
    <i class="fa fa-home"></i>
}

<div class="row">
    <div class="col-xs-12">
        <div style="padding:100px;">
            <img class="img-responsive pad" style="display: block; margin: 0 auto;" src="@Url.Content("~/")Images/logo.png" alt="@ViewBag.Appname" />
            <h1 style="text-align:center; color:#065C8B;">YAYASAN PENDIDIKAN</h1>
        </div>
    </div>
</div>

@section scripts {

<!-- Events -->
@{Html.RenderPartial("_Events");}

}

